accelerate
anthropic
backoff
black
boto3
botocore
# Common Requirements
coolname
dataclasses-json
datasets
funcy
genson
humanize
jsonschema
lightrag-hku
# LLM APIs
matplotlib
numpy
omegaconf
openai
Pillow
pymupdf4llm
pypdf
python-igraph
rich
seaborn
shutup
tiktoken
tqdm
transformers
# Viz
wandb
uv
langextract
